* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Main Wrapper */
.create-account-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Left Section */
.acc-left-section {
    margin: auto;
    width: 70%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.spark-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 120px;
}

.title {
    font-size: 1.9rem;
    font-weight: 700;
    width:100%;
    /* margin-top: 1rem;
    margin-bottom: 1.4rem; */
    margin: auto;
    text-align: center;
    /* justify-self: center */
}


.account-header {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
}

.account-header h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.account-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin:auto;

}

.signin-link {
    font-size: 0.9rem;
    color: #27ae60;
    text-decoration: none;
}

.signin-link:hover {
    text-decoration: underline;
}

.account-form {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'] {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.8rem;
    transition: border-color 0.2s ease;
}

input.error {
    border-color: #e63946;
}

.error-text {
    color: #e63946;
    font-size: 0.7rem;
    margin-top: 4px;
}

.checkbox-group {
    display: flex;
    align-items: flex-start;
    margin: 25px 0;
    font-size: 0.7rem;
}

.checkbox-group input[type='checkbox'] {
    margin-right: 10px;
}

.checkbox-group a {
    color: #1d4ed8;
    text-decoration: none;
}

.create-acc {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 0.7rem;
    background-color: #1db954;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-acc:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.footer-text {
    margin-top: 40px;
    font-size: 0.7rem;
    color: #666;
    text-align: center;
}

.footer-text a {
    color: #1d4ed8;
    text-decoration: none;
}

/* Right Section */
.right-section {
    width: 30%;
    position: relative;
    overflow: hidden;
}

.right-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Responsive */
@media (max-width: 768px) {
    .create-account-wrapper {
        flex-direction: column;
    }

    .right-section {
        display: none;
    }

    .left-section {
        width: 100%;
    }
}